<!--====== About Area Strar ======-->
<section id="about" class="about-area pt-10">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="about-feature-image mb-3" data-aos="fade-right" data-aos-delay="30"
                    data-aos-duration="1000">
                    <img src="{{'/assets/images/about/hero.jpg' | relative_url}}" class="h-100 mx-auto d-block" alt="title">
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="about-content">

                    <p class="mb-3">I am a seasoned professional specialising in Product Development, a trailblazer in the dynamic realm of 
                        technology and innovation. With an illustrious career marked by leadership excellence, I have extensive experience in steering Product and Software 
                        Engineering teams towards unparalleled success.
                    </p>
                    <p class="mb-3">My strategic vision revolves around cultivating growth, delivering cutting-edge solutions, and ensuring optimal returns on investment. 
                        The adept management style I foster in any environment foster creativity that meets expertise, resulting in products that redefine industry standards.</p>
                    <h4 class="text-primary mb-1 pt-3">Roderick Cassar</h4>
                    <p class="mb-4">Experience <span class="text-success">- </span></p>
                    <div class="d-block mb-4">
                        <img src="{{'/assets/images/about/sign.png' | relative_url}}" height="60" alt="#">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--====== About Area End ======-->
