<!--  ======= Contact Area Start ===========  -->
<section class="contact-area py-10" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="section-title mb-2 text-center">
                    <h3 class="mb-5">CONTACT ME</h3>
                    <p>
                        I'm always eager to connect with like-minded individuals, businesses, and innovators. Whether you have questions, ideas, or potential 
                        collaboration opportunities, I'm here to listen.
                        Feel free to drop me a message, and let's start a conversation. Your insights and inquiries are not just welcomed; they're the sparks that fuel innovation.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="contact-info-box text-center" data-aos="fade-in" data-aos-duration="1300">
                    <div class="contact-icon">
                        <i class="fa-brands fa-linkedin">
                        </i>
                    </div>
                    <div class="contact-content">
                        <h5 class="mb-2">LinkedIn</h5>
                        <p class="mb-2">Get in touch!</p>
                        <a href="{{'https://www.linkedin.com/in/rcassar' | relative_url}}" class="text-success">LinkedIn Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
        
            </div>
        </div>
        <div class="contact-form mt-8">

        </div>
    </div>
</section>
<!--  ======= Contact Area End ==========  -->
