<!--====== Team Area Start======-->
<section class="team-area pt-10" id="employment-history">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="section-title text-center mb-2">
                    <h3 class="mb-5">Employment History</h3>
                    <p>Throughout my career, I have consistently demonstrated a commitment to driving innovation, fostering team collaboration, and achieving impactful results.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for employment in site.data.employements %}
            <div class="col-lg-4 col-md-6">
                <div class="team-box text-center">
                    <div class="team-image">
                        <img src="{{employment.image}}" alt="{{employment.designation}}">
                    </div>
                    <p class="m-0 small pt-1 pb-2">{{employment.Company}}</p>
                    <h5 class="m-0">{{employment.Designation}}</h5>
                    <p class="mb-5">{{employment.Description}} </p>
                    <span><strong>{{employment.Tenure}}</strong></span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--====== Team Area End======-->
