<!--====== Header Area Start ======-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92262747-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92262747-1');
</script>

<header class="header-area">
    <nav class="header-navbar navbar navbar-expand-lg fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{site.url}}"><img src="{{'/assets/images/logo/logo-light.png' | relative_url}}" height="15" alt="title"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarself">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarself">
          {% include navigation.html %}
          <ul class="list-inline m-0 header-social-list">
            <li class="list-inline-item"><a href="{{'https://www.linkedin.com/in/rcassar' | relative_url }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
    
      </div>
    </nav>
  </header>
  <!--====== Header Area End ======-->
