<!--====== Banner Area Strar ======-->
<section class="banner-area" id="home">
    <div class="banner-item" style="background-image:url({{'/assets/images/header/01.jpg' | relative_url}})">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="banner-content-center">
                        <div class="banner-content">
                            <h1 class="display-4 text-success mb-4" data-aos="fade-down" data-aos-delay="30"
                                data-aos-duration="1500">Hi, I'm Roderick Cassar</h1>
                            <p class="mb-5 text-light">Currently the Head of Product Development at Betsson, and I'm delighted to extend this warm welcome to you. Within these virtual walls, 
                                innovation takes center stage as we embark on a journey of strategic product development and cutting-edge software engineering.
                                With a passion for steering Product and Software Engineering teams, my goal is clear: to cultivate growth and elevate products to new heights, 
                                all while achieving impressive returns on investment. At Betsson, we've fostered an environment where expertise meets creativity, and every project is an 
                                opportunity to redefine excellence.
                                Product Growth is a mindset, where through leadership and know-how, there is a cultivation for an exciting adventure where ideas come to life, 
                                innovation knows no bounds, and a commitment to shaping the future is unwavering.</p>
                            <div class="d-block">
                                <a href="#contact" class="btn btn-success  mb-4 mr-3" data-aos="fade-up" data-aos-delay="30"
                                    data-aos-duration="2000">Contact Me</a>
                                <a href="/assets/profile/roderick.cassar.profile.pdf" class="btn btn-outline-success mb-4 " data-aos="fade-up" data-aos-delay="30"
                                    data-aos-duration="2000">My Profile<i class="fas fa-download"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== Mouse Strar ======-->
            <a href="#about">
                <div class="banner-bottom-icon">
                    <div class="mouse"></div>
                    <p>Scroll</p>
                </div>
            </a>
            <!--====== Mouse End ======-->
        </div>
    </div>
</section>
<!--======Banner Area End ======-->
