<!--====== Banner Area Strar ======-->
<section class="banner-area" id="home">
    <div class="banner-item" style="background-image:url({{'/assets/images/header/01.jpg' | relative_url}})">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="banner-content-center">
                        <div class="banner-content desk">
                            <h1 class="display-4 text-success mb-4" data-aos="fade-down" data-aos-delay="30"
                                data-aos-duration="1500">Hi, I'm Roderick Cassar</h1>
                            <p class="mb-5 text-light">Highly accomplished and seasoned professional with over a decade of dedicated experience in the iGaming industry. 
                                A visionary leader in Product Development, Product Management, and Software Engineering, consistently driving innovation and delivering 
                                outstanding results. Having held key positions in prominent companies, I have demonstrated a proven track record of steering teams to 
                                success and shaping products that stand out in the competitive landscape. My expertise lies in translating complex technical concepts 
                                into strategic product initiatives, fostering growth, and achieving remarkable milestones. With a passion for technology and a results-driven 
                                approach, I am poised to continue making significant contributions to the dynamic world of iGaming.</p>
                            <div class="d-block">
                                <a href="#contact" class="btn btn-success  mb-4 mr-3" data-aos="fade-up" data-aos-delay="30"
                                    data-aos-duration="2000">Contact Me</a>
                                <a href="/assets/profile/roderick.cassar.profile.pdf" class="btn btn-outline-success mb-4 " data-aos="fade-up" data-aos-delay="30"
                                    data-aos-duration="2000">My Profile&nbsp;<i class="fas fa-download"></i></a>
                            </div>
                        </div>

                        <div class="banner-content mobile">
                            <h1 class="display-4 text-success mb-4" data-aos="fade-down" data-aos-delay="30"
                                data-aos-duration="1500">Hi, I'm Roderick Cassar</h1>
                            <p class="mb-5 text-light">With over a decade of experience in the iGaming industry, I am a visionary leader in Product Development, 
                                Product Management, and Software Engineering. With a proven track record of driving teams to success and fostering growth, 
                                I am poised to continue contributing significantly.
                            </p>
                            <div class="d-block">
                                <a href="#contact" class="btn btn-success  mb-4 mr-3" data-aos="fade-up" data-aos-delay="30"
                                    data-aos-duration="2000">Contact Me</a>
                                <a href="/assets/profile/roderick.cassar.profile.pdf" class="btn btn-outline-success mb-4 " data-aos="fade-up" data-aos-delay="30"
                                    data-aos-duration="2000">My Profile&nbsp;<i class="fas fa-download"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== Mouse Strart ======-->
            <a href="#about">
                <div class="banner-bottom-icon">
                    <div class="mouse"></div>
                    <p>Scroll</p>
                </div>
            </a>
            <!--====== Mouse End ======-->
        </div>
    </div>
</section>
<!--======Banner Area End ======-->
