<!--====== Certifications Area Start======-->
<section class="experience-area   pt-10" id="skill">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="section-title text-center mb-2">
                    <h3 class="mb-5">Certifications</h3>
                    <p>Elevating Expertise: Recognised Certifications Validating Professional Proficiency..</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <ul class="experience-nav nav nav-pills flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-cloud-tab" data-toggle="pill" href="#pills-univ">
                            University Degrees
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-smart-tab" data-toggle="pill" href="#pills-technical" role="tab">
                            Technical
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-apps-tab" data-toggle="pill" href="#pills-product" role="tab">
                            Product
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-apps-tab" data-toggle="pill" href="#pills-leadership" role="tab">
                            Leadership
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-univ" role="tabpanel">
                        <div class="experience-progressbar">
                            <h6>Masters in Entrepreneurship</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuemax="100"></div>
                            </div>
                            <h6>Bachelor of Commerce (Hons) - Management</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuemax="100"></div>
                            </div>
                            <h6>Bachelor of Science (Computing)</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-technical" role="tabpanel">
                        <div class="experience-progressbar">
                            <h6>English</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuemax="100"></div>
                            </div>
                            <h6>Spanish</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemax="100">
                                </div>
                            </div>
                            <h6>Garmen</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-product" role="tabpanel">
                        <div class="experience-progressbar">
                            <h6>Photoshop</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuemax="100"></div>
                            </div>
                            <h6>Sketch</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-leadership" role="tabpanel">
                        <div class="experience-progressbar">
                            <h6>Photoshop</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuemax="100"></div>
                            </div>
                            <h6>Sketch</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Certifications Area End ======-->
