<!--  ======== Testimonial Area ========  -->
<section class="testimonial-area pt-10">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="section-title text-center mb-2">
                    <h3 class="mb-5">Testimonials</h3>
                    <p>Voices of Excellence: What Others Say</p>
                </div>
            </div>
        </div>
        <div class="sk-ww-linkedin-recommendations" data-embed-id="25558756"></div><script src="https://widgets.sociablekit.com/linkedin-recommendations/widget.js" defer></script>
    </div>
</section>
<!--  ======== Testimonial Area End =========  -->
