<!--  ======== Testimonial Area ========  -->
<section class="testimonial-area pt-10" id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="section-title text-center mb-2">
                    <h2 class="mb-5">Testimonials</h2>
                    <p>What colleagues have said about working together.</p>
                </div>
            </div>
        </div>
        <div class="sk-ww-linkedin-recommendations" data-embed-id="25558756"></div>
        <script src="https://widgets.sociablekit.com/linkedin-recommendations/widget.js" defer></script>
    </div>
</section>
<!--  ======== Testimonial Area End =========  -->
